***AREA DEL CIRCULO Y PERIMETRO***

In [ ]:
import math
print ("ingrese el radio del circulo")
r=float(input())
area=(math.pi*r*r)
perimetro=(2*math.pi*r)
print ("el radio ingresado es ", r , ",el area es ", area , ",el perimetro es " , perimetro )

ingrese el radio del circulo
5
el radio ingresado es  5.0 ,el area es  78.53981633974483 ,el perimetro es  31.41592653589793

***INGRESE DOS NUMEROS Y MOSTRAR LA SUMA***

In [ ]:
import math
print ("ingrese un numero")
n1=float(input())
print ("ingrese otro numero")
n2=float(input())
suma=(n1+n2)
print ("los numeros ingresados son ", n1 , "y" ,n2 ,", la suma es ", suma)

ingrese un numero
12
ingrese otro numero
8
los numeros ingresados son  12.0 y 8.0 , la suma es  20.0

***INGRESE DOS NUMEROS Y MOSTRAR LA RESTA***

In [ ]:
import math
print ("ingrese un numero")
n1=float(input())
print ("ingrese otro numero")
n2=float(input())
resta=(n1-n2)
print ("los numeros ingresados son ", n1 , "y" ,n2 ,", la resta es ", resta)

ingrese un numero
12
ingrese otro numero
6
los numeros ingresados son  12.0 y 6.0 , la resta es  6.0

***INGRESE DOS NUMEROS Y MOSTRAR LA DIVISION***

In [ ]:
import math
print ("ingrese un numero")
n1=float(input())
print ("ingrese otro numero")
n2=float(input())
division=(n1/n2)
print ("los numeros ingresados son ", n1 , "y" ,n2 ,", la division es ", division)

ingrese un numero
5
ingrese otro numero
50
los numeros ingresados son  5.0 y 50.0 , la division es  0.1

***AREA E HIPOTENUSA DE TRIANGULO***

In [ ]:
import math
print ("ingrese la base")
base=float(input())
print ("ingrese un lado")
lado=float(input())
area=(lado*base/2)
hipotenusa= math.sqrt(lado*lado+base*base)
print ("el lado ingresado es ", lado , ", la base ingresada es, " , base , "el area es " , area , "la hipotenusa es " , hipotenusa)

ingrese la base
5
ingrese un lado
4
el lado ingresado es  4.0 , la base ingresada es,  5.0 el area es  10.0 la hipotenusa es  6.4031242374328485

***SUMA, MULTIPLICACION Y DIVISION DE DOS NUMEROS***

In [ ]:
import math
print ("ingrese un numero")
n1=float(input())
print ("ingrese otro numero")
n2=float(input())
suma=(n1+n2)
multiplicacion=(n1*n2)
division=(n1/n2)
print ("los numeros ingresados son ", n1 , "y" ,n2 ,", la suma es ", suma , ", la multiplicacion es " , multiplicacion , ", la division es" , division)

ingrese un numero
20
ingrese otro numero
5
los numeros ingresados son  20.0 y 5.0 , la suma es  25.0 , la multiplicacion es  100.0 , la division es 4.0

**dada una resistencia y una corriente calcular el voltaje**

In [ ]:
import math
print ("ingrese la resistencia")
r=float(input())
print ("ingrese la corriente")
c=float(input())
voltaje=(c*r)
p=(voltaje*c)
print ("la resistencia ingresada es  ", r , "la corriente ingresada es " ,c ,", el voltaje es ", voltaje , ", la potencia es " , p)

ingrese la resistencia
8
ingrese la corriente
6
la resistencia ingresada es   8.0 la corriente ingresada es  6.0 , el voltaje es  48.0 , la potencia es  288.0

***AREA Y PERIMETRO DE UN RECTANGULO***

In [ ]:
import math
print ("ingrese la base")
b=float(input())
print ("ingrese la altura")
h=float(input())
perimetro=((b+h)*2)
area=(b*h)
print ("la base ingresada es  ", b , "la altura ingresada es " ,h ,", el perimetro es ", perimetro , ", el area es " , area)

ingrese la base
3
ingrese la altura
5
la base ingresada es   3.0 la altura ingresada es  5.0 , el perimetro es  16.0 , el area es  15.0

**AREA Y PERIMETRO DE UN ROMBO**

In [ ]:
import math
print ("ingrese la primera diagonal")
d1=float(input())
print ("ingrese la segunda diagonal")
d2=float(input())
print ("ingrese un lado")
l=float(input())
perimetro=((d1*d2)/2)
area=(4*l)
print ("la primera diagonal ingresada es  ", d1 , "la segunda diagonal ingresada es " ,d2 ,"el lado ingresado es " , l , ", el perimetro es ", perimetro , ", el area es " , area)

ingrese la primera diagonal
6
ingrese la segunda diagonal
3
ingrese un lado
2
la primera diagonal ingresada es   6.0 la segunda diagonal ingresada es  3.0 el lado ingresado es  2.0 , el perimetro es  9.0 , el area es  8.0

**AREA Y PERIMETRO DE UN PARALELOGRAMO**

In [ ]:
import math
print ("ingrese la base")
b=float(input())
print ("ingrese la altura")
h=float(input())
print ("ingrese un lado")
l=float(input())
perimetro=((l+b)*2)
area=(b*h)
print ("la base ingresada es  ", b , "la altura ingresada es " ,h ,"el lado ingresado es " , l ,", el perimetro es ", perimetro , ", el area es " , area)

ingrese la base
5
ingrese la altura
3
ingrese un lado
2
la base ingresada es   5.0 la altura ingresada es  3.0 el lado ingresado es  2.0 , el perimetro es  14.0 , el area es  15.0

***-----------------------------SECCION 4------------------------------***

***mayor o menor de edad***

In [ ]:
print("ingrese su edad")
edad=float(input())
if edad>=18:
  print ("es mayor de edad")
else:
  print ("es menor de edad")

ingrese su edad
22
es mayor de edad

***MAYOR DE EDAD O MENOR Y NOMBRE***

In [ ]:

print("ingrese su edad")
edad=float(input())
nom=input("ingrese su nombre ")
if edad>=18:
  print (nom, " con " , edad , " a√±os, es mayor de edad")
else:
  print (nom, " con " , edad , " a√±os, es menor de edad")

ingrese su edad
42
ingrese su nombre Dean
Dean  con  42.0  a√±os, es mayor de edad

***ingrese un valor real X, determine que pertenece al intervalo ùë• ‚â§ 22***

In [ ]:
print("ingrese un valor")
x=float(input())
if x<=22:
  print ("pertenece al intervalo")
else:
  print (" no pertenece al intervalo")

ingrese un valor
29
 no pertenece al intervalo

***ingrese un valor real X, determine que pertenece al intervalo ùë• < 22***

In [ ]:
print("ingrese un valor")
x=float(input())
if x<22:
  print ("pertenece al intervalo")
else:
  print (" no pertenece al intervalo")

ingrese un valor
15
pertenece al intervalo

***ingrese un valor real X, determine que pertenece al intervalo ùë• >= ‚àí13***

In [ ]:
print("ingrese un valor")
x=float(input())
if x>=-13:
  print ("pertenece al intervalo")
else:
  print ("no pertenece al intervalo")

ingrese un valor
-12
pertenece al intervalo

***ingrese un valor real X, determine que pertenece al intervalo ùë• > ‚àí13***

In [ ]:
print("ingrese un valor")
x=float(input())
if x>-13:
  print ("pertenece al intervalo")
else:
  print ("no pertenece al intervalo")

ingrese un valor
5
pertenece al intervalo

***DENTRO DE INTERVALOS ùë• ‚â• 18  ùñ¥  ùë• < 11 . ***

In [ ]:
print("ingrese un valor")
x=float(input())
if x>=18 or x<11 :
    print ("pertenece al intervalo")
else:
    print ("no pertenece al intervalo x<11")

ingrese un valor
18
pertenece al intervalo

***ùë• ‚â• ‚àí10 ‚à© ùë• < 5 ***

In [ ]:
print("ingrese un valor")
x=float(input())
if x>=-10 and x<5 :
    print ("pertenece al intervalo")
else:
    print ("no pertenece al intervalo x<11")

ingrese un valor
-8
pertenece al intervalo

***ùë• < 13 ‚à© ùë• ‚â• 9 ***

In [ ]:
print("ingrese un valor")
x=float(input())
if x>=9 and x<13 :
    print ("pertenece al intervalo")
else:
    print ("no pertenece al intervalo x<11")

ingrese un valor
12
pertenece al intervalo

***ùë• < 0  ùñ¥ ùë• ‚â• 3 ***

In [ ]:
print("ingrese un valor")
x=float(input())
if x>=3 or x<0 :
    print ("pertenece al intervalo")
else:
    print ("no pertenece al intervalo x<11")

ingrese un valor
7
pertenece al intervalo